# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.backup

# Crash log files
crash.log

# Exclude all .tfvars files to prevent accidental inclusion of secrets
*.tfvars
*.tfvars.json

# CLI configuration files
.terraformrc
terraform.rc